.st {
  width: 40%;
  border: 2px solid #0b5ed7;
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba(180, 162, 162, 0.25);
  padding: 10px 15px;
}

.design {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
}
.btn {
  margin-right: 15px;
  box-shadow: 1px 3px 9px rgba(206, 192, 192, 0.25);
  color: whitesmoke;
  background-color: #0b5ed7;
  border: 10px;
  border-radius: 2px;
}
